{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Database Page</title>
    <link rel="shortcut icon" type="x-icon" href="{% static 'asset/image34435-e9f-200w.png' %}">
    <meta property="twitter:card" content="summary_large_image" />
    <style data-tag="reset-style-sheet">
        html {
            line-height: 1.15;
        }

        body {
            margin: 0;
        }

        * {
            box-sizing: border-box;
            border-width: 0;
            border-style: solid;
        }

        p,
        li,
        ul,
        pre,
        div,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        figure,
        blockquote,
        figcaption {
            margin: 0;
            padding: 0;
        }

        button {
            background-color: transparent;
        }

        button,
        input,
        optgroup,
        select,
        textarea {
            font-family: inherit;
            font-size: 100%;
            line-height: 1.15;
            margin: 0;
        }

        button,
        select {
            text-transform: none;
        }

        button,
        [type="button"],
        [type="reset"],
        [type="submit"] {
            -webkit-appearance: button;
        }

        button::-moz-focus-inner,
        [type="button"]::-moz-focus-inner,
        [type="reset"]::-moz-focus-inner,
        [type="submit"]::-moz-focus-inner {
            border-style: none;
            padding: 0;
        }

        button:-moz-focus,
        [type="button"]:-moz-focus,
        [type="reset"]:-moz-focus,
        [type="submit"]:-moz-focus {
            outline: 1px dotted ButtonText;
        }

        a {
            color: inherit;
            text-decoration: inherit;
        }

        input {
            padding: 2px 4px;
        }

        img {
            display: block;
        }

        html {
            scroll-behavior: smooth
        }
    </style>
    <style data-tag="default-style-sheet">
        html {
            font-family: Inter;
            font-size: 16px;
        }

        body {
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            text-transform: none;
            letter-spacing: normal;
            line-height: 1.15;
            color: var(--dl-color-theme-neutral-dark);
            background-color: var(--dl-color-theme-neutral-light);

            fill: var(--dl-color-theme-neutral-dark);
        }
    </style>
    <link rel="stylesheet" href="https://unpkg.com/animate.css@4.1.1/animate.css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spinnaker:wght@400&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" />
</head>

<body>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% if user %}
    <div>
        <link href="{% static 'css/adminuserdatabase-page.css' %}" rel="stylesheet" />

        <div class="adminuserdatabase-page-container">
            <div class="adminuserdatabase-page-adminuserdatabase-page">

                <!-- sidebar -->
                <!-- <img src="{% static 'asset/rectangle21116-18s7.svg' %}" alt="Rectangle21116"
                    class="adminuserdatabase-page-rectangle2" /> -->
                <div class="adminuserdatabase-page-rectangle2">

                    <!-- Drawback icon -->
                    <!-- <img src="{% static 'asset/chevronleftdouble1116-ilfk.svg' %}" alt="chevronleftdouble1116"
                    class="adminuserdatabase-page-chevronleftdouble" /> -->

                    <!-- Current logged user profile image and username -->
                    <div class="username-container">
                       <img src="{{ user.profile_image.url }}" alt="Ellipse108632" class="adminuserdatabase-page-ellipse10" />
                       <span class="adminuserdatabase-page-text04"><span>{{ user.username }}</span></span>
                    </div>

                    <!-- Navigation Links -->
                    <span class="adminuserdatabase-page-text06">
                        <a href="{% url 'index' %}" class="database-link">Home</a>
                    </span>
                    <span class="adminuserdatabase-page-text08">
                        <a href="{% url 'history' %}" class="database-link">History</a>
    
                    </span>
                    <span class="adminuserdatabase-page-text09">
                        <a href="{% url 'dashboard' %}" class="database-link">Dashboard</a>
    
                    </span>
                    <span class="adminuserdatabase-page-text10">
                        <a href="{% url 'usersettings' %}">Settings</a>
                    </span>


                    <!-- logout -->
                    <div class="adminuserdatabase-page-group13" onclick="showLogoutAlert()">
                        <img src="{% static 'asset/rectangle491120-12xe.svg' %}" alt="Rectangle491120"
                            class="adminuserdatabase-page-rectangle49" />
                        <img src="{% static 'asset/logout041120-erbh.svg' %}" alt="logout041120"
                            class="adminuserdatabase-page-logout04" />
                        <span class="adminuserdatabase-page-text42">
                            <a href="{% url 'logout' %}">Logout</a>
                        </span>
                        <script>
                            function showLogoutAlert() {
                                // Prevent default action of the div click
                                event.preventDefault();
                        
                                // Show the confirmation dialog
                                var userConfirmed = confirm("Are you sure you want to logout?");
                        
                                // If user confirms, redirect to the logout URL
                                if (userConfirmed) {
                                    window.location.href = "{% url 'logout' %}";
                                }
                                else{
                                    window.location.href = "{% url 'user_database' %}";
                                }
                        }
                        </script>

                    </div>
                </div>

                
                
                
                

                <!-- main page -->
                <!-- Grey vertical rectangle left of "Settings" text-->
                <img src="{% static 'asset/rectangle41229-04z-200w.png' %}" alt="Rectangle41229"
                    class="adminuserdatabase-rectangle4" />
                <span class="adminuserdatabase-page-text">
                    <span>Settings/Users Database</span>
                </span>


                <!-- Search bar -->
                <!-- <div class="database-page-search">
                    <input type="search" class="search-bar" placeholder="Search...">
                    <button class="search-button">Search</button>
                </div> -->
                <div class="database-page-search">
                    <input type="search" id="search-bar" class="search-bar" placeholder="Search...">
                    <button class="search-button" onclick="searchUser()">Search</button>
                    <div id="loading-spinner" style="display: none;">🔄</div>
                </div>

                <!-- Container for displaying search results -->
                <!-- <div id="search-results" class="search-results"></div>
                <script src="{% static 'js/admindatabase.js' %}"></script> -->


                <!-- text bubble image  -->
                <!-- <img src="{% static 'asset/rectangle71117-5ez5.svg' %}" alt="Rectangle71117"
                    class="adminuserdatabase-page-rectangle7" /> -->

                <!-- unknown image  -->
                <!-- <img src="{% static 'asset/rectangle91117-qjm4.svg' %}" alt="Rectangle91117"
                    class="adminuserdatabase-page-rectangle9" /> -->

                <!-- horizontal line below header   -->
                <img src="{% static 'asset/rectangle81117-io2.svg' %}" alt="Rectangle81117"
                    class="adminuserdatabase-page-rectangle8" />

                <!-- Header -->
                <!-- <span class="adminuserdatabase-page-text12">
                    <span>Sign Up Usernames</span>
                </span>
                <span class="adminuserdatabase-page-text14">
                    <span>Country</span>
                </span>
                <span class="adminuserdatabase-page-text16"><span>Age</span></span> -->
                <div class="header-container">
                    <span class="adminuserdatabase-page-text12">Sign Up Usernames</span>
                    <span class="adminuserdatabase-page-text14">Country</span>
                    <span class="adminuserdatabase-page-text16">Age</span>
                    <span class="adminuserdatabase-page-text161">Gender</span>
                </div>

                <!-- display of Users that has sign up in our application  -->
                <!-- <div class="text-bubble-container">
                    <div class="home-page-text-container">
                        <span class="users-setting-page-text18"><span>{{ user.username }}</span></span>
                        <span class="users-setting-page-text20"><span>{{ user.get_country_display }}</span></span>
                        <span class="users-setting-page-text22"><span>{{ user.age }}</span></span>
                        <ul>
                            {% for each_user in allusers %}
                            <li>
                                {{ each_user.username }}
                                {{ each_user.get_country_display }}
                                {{ each_user.age }}
                                {% if each_user.username != user.username %}
                                <button class="delete-button" data-username="{{ each_user.username }}">Delete</button>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div> -->

                <!-- ***below chunk of code is working code that shows list of users sign up for application -->
                <!-- <div class="user-list-container">
                    <ul>
                        {% for each_user in allusers %}
                        <li class="user-info">
                            <div class="user-info-bubble">
                                <span class="users-setting-page-text18">{{ each_user.username }}</span>
                                <span class="users-setting-page-text20">{{ each_user.get_country_display }}</span>
                                <span class="users-setting-page-text22">{{ each_user.age }}</span>
                                {% if each_user.username != user.username %}
                                <button class="delete-button" data-username="{{ each_user.username }}">Remove</button>
                                {% endif %}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div> -->

                <!-- almost correct table form with styling  -->
                <!-- <div class="user-list-container">
                    <table border="1">
                        {% for each_user in allusers %}
                        <tr class="user-info">
                            <div class="user-info-bubble">
                                <span class="users-setting-page-text18">{{ each_user.username }}</span>
                                <span class="users-setting-page-text20">{{ each_user.country }}</span>
                                <span class="users-setting-page-text22">{{ each_user.age }}</span>
                                {% if each_user.username != user.username %}
                                <button class="delete-button" data-username="{{ each_user.username }}">Remove</button>
                                {% endif %}
                            </div>
                        </tr>
                        {% endfor %}
                    </table>
                </div> -->


                <!-- table of user information without styling -->
                <!-- <table border="1">
                    <tr>
                        <th>Username</th>
                        <th>Country</th>
                        <th>Age</th>
                        <th>Gender</th>
                    </tr>
                    {% for each_user in allusers %}
                        <tr>
                            <td>{{ each_user.username }}</td>
                            <td>{{ each_user.country }}</td>
                            <td>{{ each_user.age }}</td>
                            <td>{{ each_user.gender }}</td>
                            {% if each_user.username != user.username %}
                            <td><button class="delete-button" data-username="{{ each_user.username }}">Remove</button></td>
                            {% endif %}
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">No users found.</td>
                        </tr>
                    {% endfor %}
                </table> -->

                <table class="user-info-table" border="0">
                    <!-- <thead>
                        <tr>
                            <th>Username</th>
                            <th>Country</th>
                            <th>Age</th>
                            <th>Gender</th>
                        </tr>
                    </thead> -->
                    <tbody>
                        <!-- User rows will be populated here -->
                    </tbody>
                    <!-- temp -->
                    <!-- {% for each_user in allusers %}
                        <tr class="user-info-row">
                            <td>{{ each_user.username }}</td>
                            <td>{{ each_user.country }}</td>
                            <td>{{ each_user.age }}</td>
                            <td>{{ each_user.gender }}</td>
                            {% if each_user.username != user.username %}
                            <td><button class="delete-button" data-username="{{ each_user.username }}">Remove</button></td>
                            {% endif %}
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">No users found.</td>
                        </tr>
                    {% endfor %} -->
                    <!-- temp -->
                </table>
                <script>
                    const loggedInUsername = '{{ user.username }}';
                    let searchTimeout; // Timeout variable to debounce search input

                    document.getElementById('search-bar').addEventListener('input', function() {
                        clearTimeout(searchTimeout); // Clear the previous timeout
                        document.getElementById('loading-spinner').style.display = 'none'; // Hide the spinner initially

    // Set a timeout to delay the search function call by 2 seconds
                        searchTimeout = setTimeout(() => {
                            filterUsers();
                        }, 2000);
                    });
                    function filterUsers() {
                        const query = document.getElementById('search-bar').value.trim();
                        document.getElementById('loading-spinner').style.display = 'inline-block'; // Show spinner
                        document.getElementById('search-bar').disabled = true; // Disable the input field

                        fetch(`/search-users/?q=${encodeURIComponent(query)}`)
                            .then(response => response.json())
                            .then(data => {
                                updateUserTable(data.users);
                                document.getElementById('loading-spinner').style.display = 'none'; // Hide spinner after response
                                document.getElementById('search-bar').disabled = false;
                            })
                            .catch(error => {
                                console.error('Error:', error);
                                document.getElementById('loading-spinner').style.display = 'none'; // Hide spinner after response
                                document.getElementById('search-bar').disabled = false;


                            });
                    }


                    function updateUserTable(users) {
                        // Separate the logged-in user from the rest
                        const loggedInUser = users.find(user => user.username === loggedInUsername);
                        const otherUsers = users.filter(user => user.username !== loggedInUsername);

                        // Sort the other users alphabetically by username
                        otherUsers.sort((a, b) => a.username.localeCompare(b.username));

                        const userTable = document.querySelector('.user-info-table tbody');
                        userTable.innerHTML = ''; // Clear current table content

                        // Add the logged-in user first if exists
                        if (loggedInUser) {
                            const row = document.createElement('tr');
                            row.className = "user-info-row";
                            row.innerHTML = `
                                    <td>${loggedInUser.username}</td>
                                    <td>${loggedInUser.country}</td>
                                    <td>${loggedInUser.age}</td>
                                    <td>${loggedInUser.gender}</td>
                                    <!-- No delete button for the logged-in user -->
                                `;
                            userTable.appendChild(row);
                        }

                        // Add the rest of the users
                        if (otherUsers.length === 0 && !loggedInUser) {
                            userTable.innerHTML = '<tr><td colspan="5">No users found.</td></tr>'; // Adjust colspan if necessary
                        } else {
                            otherUsers.forEach(user => {
                                const row = document.createElement('tr');
                                row.className = "user-info-row";
                                row.innerHTML = `
                                        <td>${user.username}</td>
                                        <td>${user.country}</td>
                                        <td>${user.age}</td>
                                        <td>${user.gender}</td>
                                        <td><button class="delete-button" data-username="${user.username}">Remove</button></td>
                                    `;
                                userTable.appendChild(row);
                            });
                        }
                        // Add event listeners to the delete buttons after updating the table
                        const deleteButtons = document.querySelectorAll('.delete-button');
                        deleteButtons.forEach(button => {
                            button.addEventListener('click', function () {
                                const usernameToDelete = this.getAttribute('data-username');

                                // Send AJAX request to delete user
                                fetch('/delete-user/', {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json',
                                        'X-CSRFToken': '{{ csrf_token }}'
                                    },
                                    body: JSON.stringify({ username: usernameToDelete })
                                })
                                    .then(response => response.json())
                                    .then(data => {
                                        if (data.message.includes('deleted successfully')) {
                                            this.closest('tr').remove();
                                            filterUsers()
                                        } else {
                                            alert('Failed to delete user: ' + data.message);
                                        }
                                    })
                                    .catch(error => {
                                        console.error('Error:', error);
                                        alert('Error deleting user.');
                                    });
                            });
                        });


                    }


                    // Ensure to call filterUsers on initial page load to display all users.
                    document.addEventListener('DOMContentLoaded', filterUsers);

                </script>



            </div>
            <!-- Embed users data in a script tag -->
            <!-- <script id="users-data" type="application/json">
                    {{ allusers|safe }}
                </script> -->


            <!-- js code for search bar  -->
            <!-- <script>
                document.addEventListener("DOMContentLoaded", () => {
                    const users = JSON.parse(document.getElementById("users-data").textContent);

                    function filterUsers() {
                        const query = document.getElementById("search-bar").value.toLowerCase();
                        const resultsContainer = document.getElementById("search-results");
                        resultsContainer.innerHTML = ""; // Clear previous results

                        if (query) {
                            const filteredUsers = users.filter(user => user.username.toLowerCase().includes(query));
                            if (filteredUsers.length > 0) {
                                const ul = document.createElement("ul");
                                filteredUsers.forEach(user => {
                                    const li = document.createElement("li");
                                    li.textContent = user.username;
                                    li.onclick = () => showUserDetails(user.username);
                                    ul.appendChild(li);
                                });
                                resultsContainer.appendChild(ul);
                            }
                        }
                    }

                    function showUserDetails(username) {
                        const userItems = document.querySelectorAll(".user-info");
                        userItems.forEach(item => {
                            item.style.display = item.dataset.username === username ? "block" : "none";
                        });
                        document.getElementById("search-results").innerHTML = ""; // Clear search results
                    }

                    window.filterUsers = filterUsers;
                    window.showUserDetails = showUserDetails;
                });
            </script> -->

            <!-- <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
                <h1>call other admin or superuser to delete yourself</h1>

                <h2>All Users:</h2>
                <ul>
                    {% for each_user in allusers %}
                    <li>
                        {{ each_user.username }}
                        {% if each_user.username != user.username %}
                        <button class="delete-button" data-username="{{ each_user.username }}">Delete</button>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul> -->

            <!-- logout -->
            <!-- <div class="adminuserdatabase-page-group13" onclick="confirmLogout()">
                <img src="{% static 'asset/rectangle491120-12xe.svg' %}" alt="Rectangle491120"
                    class="adminuserdatabase-page-rectangle49" />
                <img src="{% static 'asset/logout041120-erbh.svg' %}" alt="logout041120"
                    class="adminuserdatabase-page-logout04" />
                <span class="adminuserdatabase-page-text42">
                    <a href="{% url 'logout' %}">Logout</a>
                </span>
                <script src="{% static 'js/admindatabase.js' %}"></script>
            </div> -->

        </div>
    </div>
    </div>
    {% else %}
    <p>You are not logged in as admin. <a href="{% url 'login' %}">Click here to login</a></p>
    {% endif %}





</body>

</html>