@import url('https://fonts.googleapis.com/css?family=Lobster|Monoton|Truculenta|Turret+Road|Space+Mono|Stalinist+One|VT323'); 
.home-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-page-home-page {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.home-page-rectangle2 {
  /* top: -4px;
  left: -5px;
  width: 302px;
  height: 1028px;
  position: absolute;
  background: linear-gradient(359.15deg, #3579FD 14.16%, rgba(21, 204, 94, 0.51) 39.73%, rgba(173, 98, 243, 0.51) 100.2%); */
  top: 0;
  left: 0;
  width: 302px;
  height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 150px; 
  background: linear-gradient(359.15deg, #3579FD 14.16%, rgba(21, 204, 94, 0.51) 39.73%, rgba(173, 98, 243, 0.51) 100.2%);
} */
  position: fixed; /* Keep the navigation bar fixed during scrolling */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  background:  linear-gradient(359.15deg, #3579FD 14.16%, rgba(21, 204, 94, 0.51) 39.73%, rgba(173, 98, 243, 0.51) 100.2%);
  padding-top: 50px; /* Adjust padding to center content vertically */
}


.home-page-chevronleftdouble {
  top: 47px;
  left: 238px;
  width: 40px;
  height: 40px;
  position: absolute;
}
.username-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; /* Space between username and other items */
}
.home-page-text02, .home-page-text04, .home-page-text06, .home-page-text08 {
  font-size: 36px; /* Adjusted font size */
  font-family: Lobster; /* Or any font of your choice */
  color: rgba(0, 0, 0, 1);
  margin-bottom: 50px; /* Space between items */
  text-align: left;
  white-space: nowrap; /* Prevent text from wrapping */
  
  margin-left: 10px;
}

.home-page-text02 {
  width: 160px; /* Adjusted width to fit within the navigation bar */
  font-weight: 700;
  font-size: 31px;
  color: #2E2E2E; /* Adjusted color */
  text-align: left;
  font-family: Turret Road;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  word-wrap: break-word; /* Ensure long words break to the next line */
  white-space: normal; /* Allow text to wrap to the next line */
  overflow-wrap: break-word; /* Break long words */
  margin-bottom: 20px; /* Space between items */
}
.home-page-text04 {
  font-size: 36px; /* Adjusted font size */
  font-family: Lobster; /* Or any font of your choice */
  color: rgba(43, 64, 255, 1);
  margin-bottom: 20px; /* Space between items */
  text-align: left;
  white-space: nowrap; /* Prevent text from wrapping */
  text-decoration: underline;
  margin-bottom: 50px; /* Space between items */
}
.home-page-ellipse8 {
  /* top: 232px; */
  /* top: 182px;
  left: 15px;
  width: 89px;
  height: 84px;
  position: absolute;
  border-radius: 30px; */
   width: 89px;
  height: 84px;
  border-radius: 30px;
  margin-right: 13px;
}
/* .home-page-text02 {
  top: 185px;
  left: 119px;
  color: rgb(25, 62, 184);
  width: 160px; 
  position: absolute;
  font-size: 31px;
  font-style: Regular;
  text-align: left;
  font-family: Turret Road;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  word-wrap: break-word; 
  white-space: normal; 
  overflow-wrap: break-word; 
} */
/* .home-page-text04 {
  top: 349px;
  left: 119px;
  color:rgba(43, 64, 255, 1);
  width: 203px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: left;
  font-family: Lobster;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
.home-page-text06 {
  top: 437px;
  left: 119px;
  color: rgba(0, 0, 0, 1);
  width: 203px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: left;
  font-family: Lobster;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-text08 {
  top: 529px;
  left:119px;
  color: rgba(0, 0, 0, 1);
  width: 219px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: left;
  font-family: Lobster;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
} */
.home-page-link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.home-page-link:hover {
  text-decoration: underline; /* Optional: Adds underline on hover */
  color: rgba(43, 64, 255, 1); /* Change color on hover */
}

.home-page-rectangle3 {
  top: 47px;
  left: 337px;
  width: 5px;
  height: 40px;
  position: absolute;
}
.home-page-rectangle4 {
  top: 47px;
  left: 337px;
  width: 5px;
  height: 40px;
  position: absolute;
}
.home-page-text {
  top: 45px;
  left: 354px;
  color: rgba(0, 0, 0, 1);
  width: 556px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Lobster;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
/* old home-page-text02, only italic function is commented out  */
/* .home-page-text02 {
  top: 255px;
  left: 119px;
  color:rgb(25, 62, 184);
  width: 178px;
  height: auto;
  position: absolute;
  font-size: 40px;
  /* font-style: italic; */
  /* font-style: Regular;
  text-align: left;
  font-family:Turret Road;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
} */
 
/* .animated_text {
  top: 90px;
  left: 509px;
  width: 687px;
  position: absolute;
  text-align: center;
}

.home-page-text10 {
  font-size: 60px;
  font-style: italic;
  font-family: Monoton;
  font-weight: 900px;
  background: linear-gradient(90deg, #15CC5E 0%, #813E99 48.5%, #5DD2EB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  position: relative;
}

.home-page-text10::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  animation: reveal 1.5s forwards;
  animation-delay: 0.5s;
  background: linear-gradient(90deg, #15CC5E 0%, #813E99 48.5%, #5DD2EB 100%);
  -webkit-text-fill-color: transparent;
}

.home-page-text10::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: reveal-char 2s steps(12) forwards;
  background: linear-gradient(90deg, #15CC5E 0%, #813E99 48.5%, #5DD2EB 100%);
  -webkit-text-fill-color: transparent;
}

/* Keyframe animation */
/* @keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */

/* Animation for revealing each character */
/* @keyframes reveal-char {
  0% { opacity: 0; }
  100% { opacity: 1; }
} */ 
.logo {
  position: absolute;
  top: 90px;
  left: 57%;
  width: 100px;
}
.animated_text {
  /* top: 90px; */
  top: 200px;
  left: 509px;
  /* width: 687px; */
  width: 750px;
  position: absolute;
  text-align: center;
}

.home-page-text10 {
  font-size: 60px;
  font-style: italic;
  font-family: Monoton;
  font-weight: 900px;
  background: linear-gradient(90deg, #14a84f 0%, #813E99 48.5%,  #9b368a 48.5%,#5DD2EB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  opacity: 0;
  display: inline-block;
  animation: appear-text 3s forwards;
}

/* Keyframe animation for character-by-character appearance */
@keyframes appear-text {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Animate each character with delay */
.home-page-text10::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: reveal 3s steps(10, end) forwards;
}

@keyframes reveal {
  from { width: 0; }
  to { width: 100%; }
}



.home-page-rectangle7 {
  top: 200px;
  left: 327px;
  width: 1091px;
  height: auto; /* Adjust based on content */
  position: absolute;
  z-index: 0; /* Ensure the image is behind the text */
  
}
.text-bubble-container {
  position: absolute;
  /* top: 200px;  */
  top: 280px;
  left: 327px; /* Adjust as needed */
  /* width: auto;
  max-width: 1091px;  */
 
  /* width: 75%;  */
  /* Adjust the width to stretch to the right end */
  /* margin-right: 5%;  */
  /* Leave some space on the right */
  
  width: calc(100% - 347px); /* 100% width minus left and right margins */
  margin-right: 20px; /* Space on the right */

  padding: 20px;
  background-color: #bce7f5; /* Light blue background color */
  border-radius: 15px; /* Rounded edges */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

.home-page-text-container {
  width: 100%;
}

.home-page-text14 {
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Spinnaker;
  font-weight: 400;
  line-height: 1.5; /* Adjust for readability */
  max-width: 100%;
  word-wrap: break-word; /* Ensure long words break to the next line */
  padding: 10px; /* Add padding for better spacing within the bubble */
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

.bottom-right-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-top: 20px; /* Space between text and bottom container */
}

.copy-button {
  margin-right: 10px; /* Space between button and other elements */
}

.home-page-image10 {
  width: 30px;
  height: 35px;
  cursor: pointer;
  z-index: 10; /* Ensure icon is above other elements */
}

#copyStatus {
  color: green;
  display: none;
}

.sign-up-page-input2 {
  margin-right: 10px; /* Space between dropdown and other elements */
}

.home-page-rectangle60 {
  width: 220px;
  height: 36px;
  border-radius: 10px;
  background-color: rgb(93, 210, 235);
  font-family: Spinnaker;
}


.home-page-group14 {
  display: flex;
  align-items: center;
}

.star-rating {
  display: flex; /* Use flexbox to lay out stars */
  align-items: center; /* Align stars vertically center */

  position: absolute;
  right: 33px;
  justify-content: space-between; /* Distribute stars evenly */
}

.star {
  width: 24px;
  height: 24px;
  margin-right: 5px; /* Adjust spacing between stars as needed */
  cursor: pointer;
}

/* Styling for filled stars */
/* .star.filled {
  content: url('{% static 'asset/image71033-pwn-200h.png' %}'); /* Replace with your filled star image */ */

/* Styling for hovered stars (optional) */
.star:hover {
  filter: brightness(1.2); /* Example: Brighten star on hover */
}

.home-page-group13 {
  bottom: 20px; /* Adjust this value to set how far above the bottom you want the element to be */
  left: 80px;
  width: 131px;
  height: 43px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  cursor: pointer; /* Change cursor to pointer on hover */
  text-decoration: none; /* Remove underline from text */
}
.home-page-group13:hover .home-page-rectangle49 {
  fill: #d3d3d3; /* Optional: change the background color on hover */
}
.home-page-rectangle49 {
  top: 0px;
  left: 0px;
  width: 131px;
  height: 43px;
  position: absolute;
}
.home-page-logout04 {
  top: 10px;
  left: 99px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.home-page-text22 {
  top: 8px;
  left: 14px;
  color: rgba(43, 64, 255, 1);
  width: 77px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Regular;
  text-align: right;
  font-family: Spinnaker;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-group1 {
  bottom: 23px;
  /* left: 788px; */
  left: 55.1%;
  width: 169px;
  height: 84px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-page-joke-button {
  position: relative;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.home-page-rectangle5 {
  top: 0px;
  left: 0px;
  width: 169px;
  height: 60px;
  position: absolute;
  background-color: #0056b3; /* Dark Blue */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.3s;
}
.home-page-text24 {
  top: 23px;
  left: 23px;
  color: rgb(249, 248, 248);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Spinnaker;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-rectangle1 {
  top: 301px;
  left: 330px;
  width: 1086px;
  height: 68px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}
.home-page-text26 {
  top: 322px;
  left: 342px;
  color: rgba(0, 0, 0, 1);
  width: 370px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Spinnaker;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}




.home-page-text28 {
  top: 9.467517852783203px;
  left: 23.674877166748047px;
  color: rgba(0, 0, 0, 1);
  width: 107px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-image4 {
  top: 591px;
  left: 1247px;
  width: 25px;
  height: 25px;
  position: absolute;
}
.home-page-image8 {
  top: 591px;
  left: 1277px;
  width: 25px;
  height: 25px;
  position: absolute;
}
.home-page-image5 {
  top: 591px;
  left: 1217px;
  width: 25px;
  height: 25px;
  position: absolute;
}
.home-page-image6 {
  top: 591px;
  left: 1185px;
  width: 25px;
  height: 25px;
  position: absolute;
}
.home-page-image7 {
  top: 591px;
  left: 1153px;
  width: 25px;
  height: 25px;
  position: absolute;
}
.home-page-input-container {
  position: absolute;
  bottom: 120px;
  left: 664px;
  width: 377px;
  height: 58.56px;
  display: flex;
  align-items: center;
  background-color: rgba(93, 209, 235, 0.5);
  border-radius: 10px;
  padding: 10px;
  
}
.home-page-input-field {
  padding-left:45px; /* Add some padding to the left for spacing */
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  font-size: 16px;
  font-family: Spinnaker;
  color: rgba(108, 107, 107, 1);
  outline: none;
}
.home-page-image9 {
  
  width: 28px;
  height: 29px;
  position: absolute;
  margin-left: 10px; /* Space between input and icon */
  cursor: pointer;
}
/* home-page-text29 is removed in html  */
.home-page-text29 {
  top: 830px;
  left: 733px;
  color: rgba(108, 107, 107, 1);
  width: 292px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: Spinnaker;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.home-page-text50 {
  bottom: 170px;
  left: 50%;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Spinnaker;
  font-weight: 550;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.linedivider {
  /* bottom: 170px;
  
  left: 48%;
  width:400px;
  height: 5px;
  position: absolute; */

  position: absolute;
  width: 500px;
  height: 3px;
  left: 45%;
  bottom: 165px;

  background: #D9D9D9;

}

.home-page-rectangle91 {
  bottom: 120px;
  left: 54%;
  /* bottom: 123px;
  left: 788px; */
  width: 195px;
  height: 36px;
  position: absolute;
  border-radius: 10px;
  background-color:rgb(93, 210, 235);
  text-align: center;
  font-family: Spinnaker;
}

.home-page-text51 {
  top: 400px;
  left: 1100px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.home-page-rectangle92 {
  top: 460px;
  left: 1100px;
  width: 195px;
  height: 36px;
  position: absolute;
  border-radius: 10px;
  background-color:rgb(93, 210, 235);
}
