@import url('https://fonts.googleapis.com/css?family=Lobster|Monoton|Truculenta|Turret+Road|Space+Mono');  
.users-setting-page-container {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.users-setting-page-users-setting-page {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.users-setting-page-rectangle2 {
  /* top: -4px;
  left: -5px;
  width: 302px;
  height: 1028px;
  position: absolute;
  background: linear-gradient(359.15deg, #3579FD 14.16%, rgba(21, 204, 94, 0.51) 39.73%, rgba(173, 98, 243, 0.51) 100.2%);
  */

  top: 0;
  left: 0;
  width: 302px;
  height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 150px; 
  background: linear-gradient(359.15deg, #3579FD 14.16%, rgba(21, 204, 94, 0.51) 39.73%, rgba(173, 98, 243, 0.51) 100.2%);
} */
  position: fixed; /* Keep the navigation bar fixed during scrolling */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  background:  linear-gradient(359.15deg, #3579FD 14.16%, rgba(21, 204, 94, 0.51) 39.73%, rgba(173, 98, 243, 0.51) 100.2%);
  padding-top: 50px; /* Adjust padding to center content vertically */
}
/* .users-setting-page-rectangle2 {
  top: -4px;
  left: -5px;
  width: 302px;
  height: 1028px;
  position: absolute;
} */
.users-setting-page-chevronleftdouble {
  top: 47px;
  left: 238px;
  width: 40px;
  height: 40px;
  position: absolute;
}
.username-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; /* Space between username and other items */
}
.users-setting-page-text02, .users-setting-page-text04, .users-setting-page-text06, .users-setting-page-text07, .users-setting-page-text08 {
  font-size: 36px; /* Adjusted font size */
  font-family: Lobster; /* Or any font of your choice */
  color: rgba(0, 0, 0, 1);
  margin-bottom: 50px; /* Space between items */
  text-align: left;
  white-space: nowrap; /* Prevent text from wrapping */
  
  margin-left: 10px;
}

.users-setting-page-text02 {
  width: 160px; /* Adjusted width to fit within the navigation bar */
  font-weight: 700;
  font-size: 31px;
  color: #2E2E2E; /* Adjusted color */
  text-align: left;
  font-family: Turret Road;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  word-wrap: break-word; /* Ensure long words break to the next line */
  white-space: normal; /* Allow text to wrap to the next line */
  overflow-wrap: break-word; /* Break long words */
  margin-bottom: 20px; /* Space between items */
}
.users-setting-page-text08 {
  font-size: 36px; /* Adjusted font size */
  font-family: Lobster; /* Or any font of your choice */
  color: rgba(43, 64, 255, 1);
  margin-bottom: 20px; /* Space between items */
  text-align: left;
  white-space: nowrap; /* Prevent text from wrapping */
  text-decoration: underline;
  margin-bottom: 50px; /* Space between items */
}
.users-setting-page-ellipse6 {
  /* top: 234px;
  left: 26px;
  width: 89px;
  height: 84px;
  position: absolute;
  border-radius: 30px; */
  
  /* top: 182px;
  left: 15px;
  width: 89px;
  height: 84px;
  position: absolute;
  border-radius: 30px; */
  width: 89px;
  height: 84px;
  border-radius: 30px;
  margin-right: 13px;

}

.setting-link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.setting-link:hover {
  text-decoration: underline; /* Optional: Adds underline on hover */
  color: rgba(43, 64, 255, 1); /* Change color on hover */
}

/* .users-setting-page-text02 {
  top: 185px;
  left: 119px;
  color: rgb(25, 62, 184);
  width: 160px; 
  position: absolute;
  font-size: 31px;
  font-style: Regular;
  text-align: left;
  font-family: Turret Road;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  word-wrap: break-word; 
  white-space: normal; 
  overflow-wrap: break-word;
}
.users-setting-page-text04 {
  top: 349px;
  left: 124px;
  color: rgba(0, 0, 0, 1);
  width: 203px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: left;
  font-family: Lobster;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.users-setting-page-text06 {
  top: 437px;
  left: 124px;
  color: rgba(0, 0, 0, 1);
  width: 203px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: left;
  font-family: Lobster;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.users-setting-page-text08 {
  top: 529px;
  left: 124px;
  color: rgba(43, 64, 255, 1);
  width: 219px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: left;
  font-family: Lobster;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
} */
.users-setting-page-rectangle3 {
  top: 47px;
  left: 337px;
  width: 5px;
  height: 40px;
  position: absolute;
}
.users-setting-page-rectangle4 {
  top: 47px;
  left: 337px;
  width: 5px;
  height: 40px;
  position: absolute;
}
.users-setting-page-text {
  top: 45px;
  left: 354px;
  color: rgba(0, 0, 0, 1);
  width: 556px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Lobster;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
/* .users-setting-page-text02 {
  top: 261px;
  left: 124px;
  color: rgba(43, 64, 255, 1);
  width: 178px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: left;
  font-family: Turret Road;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
} */

.users-setting-page-rectangle41 {
  top: 211px;
  left: 321px;
  width: 1091px;
  height: 3px;
  position: absolute;
}
.users-setting-page-rectangle7 {
  top: 234px;
  left: 321px;
  width: 1091px;
  height: 75px;
  position: absolute;
}
.text-bubble-container {
  position: absolute;
  top: 234px;
  left: 321px;
  /* width: auto;
  max-width: 1091px;  */
 
  /* width: 75%;  */
  /* Adjust the width to stretch to the right end */
  /* margin-right: 5%;  */
  /* Leave some space on the right */
  
  width: calc(100% - 347px); /* 100% width minus left and right margins */
  margin-right: 20px; /* Space on the right */

  padding: 20px;
  background-color: #bce7f5; /* Light blue background color */
  border-radius: 15px; /* Rounded edges */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

.home-page-text-container {
  display: flex;
  width: 100%;
  align-items: center;
}

.users-setting-page-text18 {
  flex: 2; /* Make the username take up more space */
  color: rgba(0, 0, 0, 1);
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}

.users-setting-page-text20,
.users-setting-page-text22,
.users-setting-page-text24 {
  flex: 1; /* Make the other text elements take up equal space */
  color: rgba(0, 0, 0, 1);
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}

.users-setting-page-pencil02 {
  flex: 0 0 24px; /* Fixed width for the pencil icon */
  height: 24px;
  cursor: pointer;
}
.users-setting-page-rectangle9 {
  top: 211px;
  left: 321px;
  width: 1091px;
  height: 3px;
  position: absolute;
}
.users-setting-page-rectangle8 {
  top: 211px;
  left: 321px;
  width: 1091px;
  height: 3px;
  position: absolute;
}
.users-setting-page-text10 {
  top: 169px;
  left: 278px;
  color: rgba(0, 0, 0, 1);
  width: 216px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Spinnaker;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.users-setting-page-text12 {
  top: 169px;
  left: 734px;
  color: rgba(0, 0, 0, 1);
  width: 95px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Spinnaker;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.users-setting-page-text14 {
  top: 169px;
  left: 910px;
  color: rgba(0, 0, 0, 1);
  width: 95px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Spinnaker;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.users-setting-page-text16 {
  top: 169px;
  left: 1128px;
  color: rgba(0, 0, 0, 1);
  width: 157px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Spinnaker;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.users-setting-page-group13 {
  /* top: 948px; */
  bottom: 20px;
  left: 80px;
  width: 131px;
  height: 43px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  /* added cursor and text deco , it does not have it originally */
  cursor: pointer; /* Change cursor to pointer on hover */
  text-decoration: none; /* Remove underline from text */
}
.users-setting-page-rectangle49 {
  top: 0px;
  left: 0px;
  width: 131px;
  height: 43px;
  position: absolute;
}
.users-setting-page-logout04 {
  top: 10px;
  left: 99px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.users-setting-page-text26 {
  top: 8px;
  left: 14px;
  color: rgba(43, 64, 255, 1);
  width: 77px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Regular;
  text-align: right;
  font-family: Spinnaker;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.admin-setting-page-group1 {
  bottom:20px;
  /* top: 611px; */
  left: 1243px;
  width: 179px;
  height: 84px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  cursor: pointer; /* Change cursor to pointer on hover */
  text-decoration: none; /* Remove underline from text */
}
.admin-setting-page-rectangle5 {
  
  width: 179px;
  height: 70px;
  /* height: 60px;  */
  /* Adjusted to match the container height */
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;

  /* border-radius: 10px; */
  /* width: 195px;
  height: 36px;
  position: absolute;
  border-radius: 10px; */
  background-color:#0056b3;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Added shadow */
}

.admin-setting-page-text28 {
  top: 24px;
  left: 16px;
  color: rgb(244, 239, 239);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.error-message{
  position: absolute;
  top: 50px;
  left: 700px;
  color: #b30000; /* Error text color */
  background-color: #f8d7da; /* Light red background */
  border: 1px solid #f5c2c7; /* Light red border */
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  text-align: left;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}